##
## You provide this
##
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest-server
  labels:
    app: rest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rest
  template:
    metadata:
      labels:
        app: rest
    spec:
      containers:
      - name: rest-server
        image: samfeig/rest-server:latest
        env:
        - name: REDIS_HOST
          value: redis
        - name: RABBITMQ_HOST
          value: rabbitmq